#include <windows.h>
1 RT_MANIFEST "app.manifest"
1 ICON "WinIsland.ico"
1 VERSIONINFO
FILEVERSION 1,2,5,1
PRODUCTVERSION 1,2,5,1
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileVersion", "1.2.5alpha-r1"
  END
 END
END
